* {
    /* resetting the default margins allows us to easily create a navbar */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: #333333;
    /* since the nav bar is going to contain navigation links */
    /* the bar itself can be thought of as the flex parent */
    display: flex;
    /* the children should be displayed horizontally by default */
    flex-direction: row;
    /* move the children to the RHS by default */
    justify-content: right;
    /* vertically align the items to center height */
    align-items: center;
    /* leave some whitespace between the children */
    gap: 20px;
}

.nav-link {
    display: flex;
}

.nav-link a {
    color: #cccccc;
    text-decoration: none;
}

.nav-link a:hover {
    text-decoration: underline;
}

/* by default the final nav-link should have some additional padding-right */
.nav-link:last-child {
    padding-right: 50px;
}

body {
    background-color: #f3f3f3;
    color: #333333;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-top: 20px;
    gap: 30px;
}

.profile-picture {
    max-width: 150px;
    border-radius: 100%;
}

/* Small screens */
@media all and (max-width: 768px) {
    .nav {
        height: 100px;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .nav-link:last-child {
        padding-right: 0;
    }
    main {
        width: 560px;
    }
    .banner {
        flex-direction: column;
        align-items: center;
    }
}